<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">
    <setting propertyKey="@Properties.ftp" title="@Strings.FtpTitle">
        <settingConfig type="numeric" />
    </setting>

    <setting propertyKey="@Properties.cadence_min" title="@Strings.CadenceMinTitle">
        <settingConfig type="numeric" />
    </setting>

    <setting propertyKey="@Properties.cadence_max" title="@Strings.CadenceMaxTitle">
        <settingConfig type="numeric" />
    </setting>
</settings>
